.login-page {
	width: 360px;
	padding: 8% 0 0;
	margin: auto;
}

.registration-page {
	width: 360px;
	padding: 8% 0 0;
	margin: auto;
}

.form {
	position: relative;
	z-index: 1;
	background: #FFFFFF;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}

.form button {
	text-transform: uppercase;
	outline: 0;
	background: #6f7176;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
	background: #494a4e;
}

body {
	background: linear-gradient(to right, #494a4e, #6f7176);
}

.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 10px 16px;
	display: inline-block;
	margin: 5px 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	transition: all 0.3s;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	transition: all 0.3s;
}

.btn-home-container {
	background: #6f7176;
	color: #fff;
	box-shadow: 0 6px #1d1d1f;
	transition: none;
}

.btn-home {
	border-radius: 40px;
}

.btn-home:hover {
	box-shadow: 0 4px #ccccce;
	top: 2px;
}

.btn-home:active {
	box-shadow: 0 0 #6d6d70;
	top: 6px;
}


.allbtns {
	margin: auto;
	width: 50%;
}

.allbtns form,
.allbtns form div {
	display: inline;
}

.allbtns button {
	display: inline;
	vertical-align: middle;
}